packages
ClientSQLite
ClientWeb/*
ClientWPF
ServiceWCF
*.sln
*.suo
!ClientWeb/*.aspx
!ClientWeb/*.cs
!ClientWeb/*.aspx.designer.cs
!ClientWeb/*.html
!ClientWeb/css/
!ClientWeb/js/
!ClientWeb/images/
!ClientWeb/css/*
!ClientWeb/js/*
!ClientWeb/images/*